@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.page-title {
    -fx-font-family: 'Playfair Display', serif;
    -fx-font-size: 32px;
    -fx-text-fill: linear-gradient(to right, #00c6ff, #0072ff);
    -fx-font-weight: bold;
    -fx-padding: 10px 0 20px 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.2, 2, 2);
    -fx-text-alignment: center;
}

.input-field {
    -fx-background-radius: 8;
    -fx-padding: 8;
    -fx-pref-width: 200;
}

.button-ajouter {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button-modifier {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button-supprimer {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.custom-table {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #34495e;
    -fx-border-width: 2;
}
